body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px !important;
}

.menu-principal {
    width: 100%;
    background-color: black;
    height: 140px;
    padding-top: 15px;

}

main,
.content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 2px;
    width: 70%;
}

.redes-sociais {
    width: 25%;
    float:right;
 
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
    color: #2B4865;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 3px solid #2B4865;
}

.menu ul li a:hover {
    color: #6fb0f1;

}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
    color: black;
}

.busca {
    text-align: center;
    width: 30%;
    float: right;
    color: black;
}

.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid black;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
    color:white;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/anterior.png);
    top: 35%;
    left: 14%;

}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/proximo.png);
    top: 35%;
    right: 14%;
}

.slick-list {
    width: 100% !important;

}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px;
}

li.slick-active button {
    background: #c0c0c0;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque {
    text-align: center;

}
.titulo-principal-maps{
    color:black;
}

.texto-destaque strong {
    color:black;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color:black;
}

.texto-destaque p {
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    height: 350px;
    border: 1px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.bloco-imagem b,
p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.bloco-texto {
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

h3 {
    font-weight: normal !important;

}

.bloco-imagens-texto {

    background: linear-gradient(#ebf0e4,#949aa1);

}

.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: linear-gradient(#ebf0e4 #949aa1);
    background-repeat: no-repeat;
    background-position: center;

}

.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 80px;
    background: linear-gradient(#949aa1 #ebf0e4);

}

.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}

.col-4 img {
    cursor: pointer;
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;

}

.col-4 img:hover {
    margin-top: 10px !important;
    position: relative !important;

}

.footer h3 {
    text-align: left;
}

.footer {
    background-color:black;
}

.footer-2 {
    background-color: black;
    
}

.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 1px;
}








